@import url('https://fonts.googleapis.com/css?family=Cardo|Open+Sans:400,400i');

html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Cardo', serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.map-container {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.js-poem-container {
    transition: opacity 0.4s;
}

.js-poem-container.-hidden {
    opacity: 0;
}

.js-poem-container.-disabled {
    pointer-events: none;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 99;
    font-size: 3rem;
}

.overlay {
    background-color: white;
    opacity: .6;
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    margin: 0;
}

.poem {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-70%);
    left: 5rem;
}

.poem-inner {
    font-size: 4vw;
    line-height: 5.5vw;
}

.credits {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 1s;
}

.credits a {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    opacity: .5;
    color: #000;
    text-decoration: none;
}

.credits.-hidden {
    opacity: 0;
    transition: opacity 0s;
}

h1 {
    display: block;
    position: absolute;
    left: 5rem;
    top: 3rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    opacity: .5;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1:hover, .poem-inner:hover, .credits a:hover {
    text-decoration: underline;
}

.controls, .js-map-write {
    position: absolute;
    left: 5rem;
    bottom: 3rem;
}

.leaflet-control-attribution {
    opacity: .5;
}
.leaflet-container a{
    color: black !important;
}