@font-face {
    font-family: 'Cardo';
    src: url('./fonts/subset-Cardo-Regular.woff2') format('woff2'),
        url('./fonts/subset-Cardo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Cardo', serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.map-container {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.poem-container {
    transition: opacity 0.4s;
}

.poem-container.-hidden {
    opacity: 0;
}

.poem-container.-disabled {
    pointer-events: none;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.center {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 99;
    font-size: 3rem;
}


h1, .credits, .attribution {
    display: block;
    position: absolute;
    left: 5rem;

    font-size: 1.3rem;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    /* opacity: .5; */
    color: rgba(0,0,0, .5);
    cursor: pointer;
    text-shadow: 0 0 3px white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
    top: 3rem;
}

.attribution {
    bottom: 5rem;
}

.credits {
    bottom: 7rem;
}

.credits a, .credits a:hover, .attribution a, .attribution a:hover {
    color: inherit;
}

.overlay {
    background-color: white;
    opacity: .6;
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    margin: 0;
}

.poem {
    display: block;
    position: absolute;
    top: 45%;
    transform: translateY(-70%);
    left: 5rem;
    line-height: 5.5vw;
    pointer-events: none;
    font-size: 4vw;
}

.credits {
    transition: opacity 1s;
    transition-delay: .75s;
}

.credits a, .attribution a {
    text-decoration: none;
}

.credits a {
    margin-right: 6px;
}

.credits a:not(:first-child) {
    margin-left: 6px;

}

.credits.-hidden {
    opacity: 0;
    transition: opacity 0s;
}


h1:hover, .credits a:hover {
    text-decoration: underline;
}

.controls, .js-map-write {
    position: absolute;
    left: 5rem;
    bottom: 3rem;
}

.leaflet-control-attribution {
    opacity: .5;
}
.leaflet-container a{
    color: black !important;
}